
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'Helvetica Neue', sans-serif;
  color: white;
  background-color: black;
}
#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
  

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.overlay h1 {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.overlay h1 .alt-font {
  font-family: 'Courier New', monospace;
  font-style: italic;
}

.links {
  margin-top: 20px;
}

.links a {
  color: gray;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.1rem;
}
@media (max-width: 768px) {
  video#background-video {
    object-fit: contain;
    height: 100vh;
    width: 100vw;
    object-position: center center;
  }
}
